@import "../../styles/mixins";

.listing-card {
  cursor: pointer;
  min-width: 300px;
  width: 300px;
  height: 172px;
  margin-right: 2rem;
  position: relative;
  text-shadow: 2px 1px 1px #000000;
  touch-action: none;
  &.draggable {
    touch-action: auto;
  }
  img {
    height: 172px;
    max-width: 100%;
    object-fit: cover;
  }
  .info {
    position: absolute;
    padding: 3rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, .2);
  }

  i {
    position: absolute;
    top: -2rem;
    right: -2rem;
    color: red;
    font-size: 40px;
    z-index: 1;
    border-radius: 40px;
    background: black;
  }
}

.listing-card-place-holder {
  min-width: 300px;
  width: 300px;
  text-align: center;
  line-height: 172px;

  &.drag-active {
    border-color: red;
    box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, .2);
  }
}
