@import '../styles/mixins';

.listing-detail {
  & > a {
    display: inline-block;
    margin: 0 auto 0 15%;
  }

  & > img, .detail-container {
    margin: 0 auto;
    display: block;
  }
  & > img {
    max-width: 50%;
  }

  .detail-container {
    display: flex;
    max-width: 70%;
    margin-bottom: 5rem;

    @include phone {
      display: block;
    }

    .basic-info {
      flex-basis: 70%;
    }

    .contact-agent {
    }
  }
}
